.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: " ";
  display: flex;
  justify-content: flex-end;
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 50%;
  border: 3px solid #777;
  border-color: #777 transparent #777 transparent;
  animation: lds-dual-ring 1s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
