<div class="container">
    <div class="list no-task-found" *ngIf="(totalTasks$ | async) === 0 && ((isLoading$ | async))=== false">
        <p>No task found.</p>
    </div>
    <div class="list" *ngFor="let tasks of activeView$ | async | keyvalue">
        <div class='heading align-center' [ngSwitch]="(viewBy$ | async)">
            <app-loading-icon *ngIf="(isLoading$ | async) && ((viewBy$ | async)=== 'default' || (tasks.key === selectedListKey))"></app-loading-icon>
            <span *ngSwitchCase="'priority'">{{priorities[tasks.key]}}</span>  
            <span *ngSwitchCase="'due_date'">{{tasks.key}}</span>  
            <span *ngSwitchDefault>{{tasks.key}}</span>  
        </div> 
        <ul droppable (onDrop)="onItemDrop({'event': $event, 'onDropped': tasks.key})" id="{{tasks.key}}">
            <ng-container>
                <li *ngFor="let task of tasks.value" class="task" draggable [dragData]="task">
                    <ng-template #taskBlock>
                        <p (click)="initUpdateTask(task, true)">{{task.message}}</p>
                        <span>
                            <app-loading-icon *ngIf="((inDeleteMode$ | async) || (isLoading$ | async)) && selectedTask && selectedTask.id === task.id; else deleteIcon;"></app-loading-icon>
                            <ng-template #deleteIcon>
                                <i class="fas fa-trash" (click)="deleteTask(task)"></i>
                            </ng-template>
                        </span>
                    </ng-template>
                    <div class="create-list-item" *ngIf="((inUpdateMode$ | async)===true && selectedTask.id === task.id); else taskBlock" >
                        <app-task-form [task]="selectedTask"></app-task-form>
                    </div>
                </li>
            </ng-container>
            <li dragEnabled = "false">
                <ng-template #noTaskBlock><p (click)="initCreateTaskMode(true, tasks.key)">+ Add a task</p></ng-template>
                <div class="create-list-item" *ngIf="(inCreateMode$ | async) && ((viewBy$ | async)=== 'default' || (tasks.key === selectedListKey)); else noTaskBlock">
                    <app-task-form [priority]="selectedListKey"></app-task-form>
                </div>
            </li>
        </ul>
    </div>
</div>
