.container {
  display: flex;
  margin: 5px;
  align-items: flex-start;
}
.list {
  background-color: #ebecf0;
  width: 100%;
  max-width: 250px;
  margin: 0 5px;
}
.no-task-found p {
  text-align: center;
  padding: 0.5rem 0;
}
.heading span {
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
}
.list ul {
  list-style-type: none;
  padding: 0.5rem;
}
.list ul li {
  background: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 5px;
}
.list ul li.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
.task p {
  width: 100%;
}
.fa-trash {
  color: red;
}
.create-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.create-list-item > * {
  width: 100%;
}
@media (max-width: 768px) {
  .list {
    max-width: 100%;
  }
  .container {
    flex-wrap: wrap;
  }
}
