form {
  width: 100%;
  font-size: 0.8rem;
}
form > * {
  margin: 5px 0;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group :last-child {
  margin: 5px 0;
}
.form-group :is(select, input[type="date"]) {
  height: 2rem;
}
.radio-btn > label {
  padding: 0 5px;
  font-size: inherit;
}
input[type="text"] {
  width: 100%;
  padding: 0.5rem 0.8rem;
  outline: none;
  border: 1px solid #dcdcdc;
}
input:focus {
  box-shadow: 0 0 0 1px rgb(0 0 0 / 10%);
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.radio-btns {
  display: flex;
  justify-content: space-between;
}
.radio-btn {
  display: flex;
  align-items: center;
}
.radio-btn input:focus {
  outline: none;
  box-shadow: none;
}
.button-group {
  display: flex;
  align-items: center;
}
.button-group > button {
  height: 3rem;
  padding: 0.5rem;
}
.button-group i.fas {
  font-size: 1rem;
  margin: 0 1rem;
}
@media (max-width: 768px) {
  form .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .form-group > :last-child:not(input[type="text"]) {
    margin: 5px 10px;
  }
  .radio-btns {
    flex-grow: 0.4;
  }
}
