<form [formGroup]="taskForm" (submit)="submitTask()">
    <div class="form-group">
        <input type="text" placeholder="Type a task.." formControlName="message" required>
    </div>
    <div class="form-group">
        <label for="priority">Priority -</label>
        <div class="radio-btns">
            <div *ngFor="let x of priorities | keyvalue" class="radio-btn">
                <input type="radio" [value]="x.key" formControlName="priority">
                <label> {{x.value}} </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="assign">Assign to -</label>
        <select formControlName="assigned_to">
            <option [value]="null" selected>Select</option>
            <option [value]="user.id" *ngFor="let user of (userList$ | async)"
             [ngStyle]="{'background-image': user.picture}"
            >
                {{user.name}}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="dueDate">Due Date -</label>
        <input type="datetime-local" formControlName="due_date">
    </div>
    <div class="button-group">
        <button type="submit">
            <app-loading-icon *ngIf="(isLoading$ | async)"></app-loading-icon>
            {{buttonTitle}} task
        </button>
        <i class="fas fa-times" (click)="initCreateTaskMode(false)"></i>
    </div>
</form>