<div class="nav-bar">
    <div class="search-bar">
        <input type="text" placeholder="Search" [formControl]="searchText" name="searchText" #searchTask>
        <button type="button" *ngIf="searchTask.value.trim()" (click)="clearSearch()"><i class="fas fa-times"></i></button>
    </div>
    <div class="title">
        <h3>Mini Task Manager</h3>
    </div>
    <div class="nav-items">
        <!-- <button type="button" class="btn" (click)="initCreateTaskMode()"><i class="fas fa-sort"></i></button> -->
        <select name="selectedView" [formControl]="selectedView">
            <option [value]="view.value" *ngFor="let view of viewBy">{{view.text}}</option>
        </select>
    </div>
</div>