.nav-bar {
  display: flex;
  justify-content: space-between;
  max-height: 40px;
  overflow: hidden;
  padding: 4px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.nav-bar > .search-bar > input {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 3px;
  border: none;
  font-size: 0.8rem;
  height: 32px;
  outline: none;
  padding: 0 0.5em 0;
  transition: width 0.15s;
  width: 225px;
}
.search-bar > button {
  background-color: transparent;
  border: none;
}

.nav-bar > .title {
  display: flex;
  align-items: center;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .nav-bar {
    flex-wrap: wrap;
    max-height: initial;
  }
  .nav-bar > .search-bar {
    order: 1;
  }
  .nav-bar > .search-bar > input {
    width: calc(100vw - 35px);
  }
  .nav-bar > .title {
    transform: translateX(0%);
  }
}
