/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: all 0.5s ease-in;
}
html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
button {
  height: 2rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
input[type="radio"] {
  cursor: pointer;
}
.btn {
  padding: 0.5em;
  cursor: pointer;
}
*:focus {
  outline: none;
}
.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Draggable*/

.drag-border {
  border: #ff525b dashed 2px;
}

.drag-handle {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drag-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
  border: #3c763d dashed 2px;
}

.drag-over-border {
  border: #fbbc05 dashed 2px;
}

.drag-transit {
  border: #3500ff dashed 2px;
}

select {
  height: 2rem;
}
